body{
  background-color:#b9a082;
}
.hero-image-background{
  background-color:#222222;
}
.recent-project{
  left: 30px;
  top: 30px;
  border-radius: 15px;
}
.hero-text{
  margin-right: 0;
  margin-left: 10px;
  padding-left: 20px;
}

