body{
  background-color:#add8e6;
}

image {
  height: 700px;
}
.recent-project{
  border-radius: 15px;
  overflow: hidden;
  width: 95%;
  border: 10px solid #00008b;
}
.recent-project-iframe{
  width: 102%;
  overflow:auto;
  margin-bottom: -8px;
}
.hero-text{
  margin-right: 0;
  margin-left: 10px;
  padding-left: 20px;
}


